/* --------------------------------------------------------------*/
/* --- PLEASE UPDATE THESE PARAMETERS BEFORE RUNNING METAGEAR ---*/
/* --------------------------------------------------------------*/

profiles {
    singularity_custom {
        singularity.runOptions = "--writable-tmpfs -B /:/"
    }
    docker_custom {
        docker.runOptions = '-u $(id -u):$(id -g) -v /home:/home'
    }
}

params {

    /* RESOURCES */
    max_cpus = ${MAX_CPUS}
    max_memory = '${MAX_MEMORY}GB'
    max_time = '10h'

    /* DATABASES */
    databases_root = "$INSTALL_DIR/databases"
    
    kneaddata_refdb = ["$INSTALL_DIR/databases/ref_hg37"]

    metaphlan_db = "$INSTALL_DIR/databases/metaphlan4.1"

    humann3_uniref90 = "$INSTALL_DIR/databases/humann3.9/uniref90"
    humann3_nucleo = "$INSTALL_DIR/databases/humann3.9/nucleo"

}
